[submodule "external/google-cloud-python"]
	path = external/google-cloud-python
	url = https://github.com/googleapis/google-cloud-python.git
[submodule "external/google-maps-services-python"]
	path = external/google-maps-services-python
	url = https://github.com/googlemaps/google-maps-services-python
